<!DOCTYPE html>
<html>
  <head>
    <title><%= @title ? "#{@title} - Tun Khine" : "Tun Khine" %></title>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Barlow:wght@100&display=swap" rel="stylesheet">
    
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <%= favicon_link_tag asset_path('fire_flower.ico') %>
  </head>

  <body>

    <div>
      <header>
        <h1><%= link_to "Hi, Im Tun", root_path %></h1>
        <p>Software Engineer. Dad. Generalist.</p>
      </header>
      <p>
        <%= link_to 'About', about_path %>, <%= link_to 'Articles', articles_path %>, <%= link_to 'Projects', projects_path %>
      </p>
    </div>

    <%= yield %>

    <footer>
      Created by Tun Khine. Site last updated on <b><%= last_updated.to_datetime.in_time_zone('Eastern Time (US & Canada)').strftime('%B %e, %Y at %l:%M%P %Z') %></b>. <a href="https://github.com/tunkhine126/portfolio-ruby-cms/commits/master" target="_blank">Changelog</a>.
    </footer>
  </body>
</html>
